In [11]:
import datetime
import calendar
import math
import pandas as pd

In [12]:
x=int(input("Enter your package:"))

Enter your package:1100

In [13]:
today=datetime.date.today()
print(today)
p=int(x/50)
d=(x*0.005)
print("the duplication need :{} cycles".format(p))
print("your daily income will be:{}".format(d))
q=x*2+50
h=x+50

2021-03-30
the duplication need :22 cycles
your daily income will be:5.5

In [5]:
package=[]
daily_income=[]
n=[]
after=[]
today_s=[]

In [6]:
for i in range(h,q,50):
    package.append(i)
    y=(i*0.005)
    daily_income.append(y)
    z=(50/y)
    n.append(z)

In [7]:
for c in n:
    a=math.ceil(c)
    after.append(a)
    today+=datetime.timedelta(days=a)
    today_s.append(today)

In [8]:
g={'package':pd.Series(package),'daily_income':pd.Series(daily_income),'after':pd.Series(after),'On':pd.Series(today_s)}

In [9]:
df = pd.DataFrame(g)

In [10]:
df

    package  daily_income  after          On
0      1150          5.75      9  2021-04-08
1      1200          6.00      9  2021-04-17
2      1250          6.25      8  2021-04-25
3      1300          6.50      8  2021-05-03
4      1350          6.75      8  2021-05-11
5      1400          7.00      8  2021-05-19
6      1450          7.25      7  2021-05-26
7      1500          7.50      7  2021-06-02
8      1550          7.75      7  2021-06-09
9      1600          8.00      7  2021-06-16
10     1650          8.25      7  2021-06-23
11     1700          8.50      6  2021-06-29
12     1750          8.75      6  2021-07-05
13     1800          9.00      6  2021-07-11
14     1850          9.25      6  2021-07-17
15     1900          9.50      6  2021-07-23
16     1950          9.75      6  2021-07-29
17     2000         10.00      5  2021-08-03
18     2050         10.25      5  2021-08-08
19     2100         10.50      5  2021-08-13
20     2150         10.75      5  2021-08-18
21     2200         11.00      5  2021-08-23